FASTQ_files
run.sbatch
slurm*
*.pyc

results/*

!results/codoncounts
results/codoncounts/*
!results/codoncounts/*codoncounts.csv

!results/renumberedcounts
results/renumberedcounts/*
!results/renumberedcounts/*codoncounts.csv

!results/fracsurvive
results/fracsurvive/*
!results/fracsurvive/*fracsurvive.csv

!results/fracsurviveaboveavg
results/fracsurviveaboveavg/*
!results/fracsurviveaboveavg/*fracsurvive.csv
